In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-07-02 19:36:56,-53.15,-70.92,32.00,94,90,4.70
1,1,Rikitea,PF,2020-07-02 19:36:57,-23.12,-134.97,70.57,70,0,21.63
2,2,Wahpeton,US,2020-07-02 19:33:30,46.27,-96.61,87.80,48,0,13.87
3,3,Mount Gambier,AU,2020-07-02 19:36:57,-37.83,140.77,44.60,100,75,10.29
4,4,Rocha,UY,2020-07-02 19:36:57,-34.48,-54.33,47.28,79,95,9.80

In [6]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of equal length of the locations array.
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2020-07-02 19:36:57,-23.12,-134.97,70.57,70,0,21.63
6,6,Sao Filipe,CV,2020-07-02 19:36:58,14.90,-24.50,75.79,80,100,7.90
8,8,La Ronge,CA,2020-07-02 19:36:58,55.10,-105.28,73.40,53,75,13.87
16,16,Hilo,US,2020-07-02 19:37:00,19.73,-155.09,78.80,74,75,4.70
24,24,Palu,ID,2020-07-02 19:37:01,-0.89,119.87,74.89,78,100,3.22
27,27,Matamoros,MX,2020-07-02 19:35:29,25.53,-103.25,78.80,65,90,11.41
35,35,Puerto Ayora,EC,2020-07-02 19:37:03,-0.74,-90.35,78.80,61,20,20.80
38,38,Avarua,CK,2020-07-02 19:37:04,-21.21,-159.78,77.00,83,59,4.70
42,42,Mabaruma,GY,2020-07-02 19:37:05,8.20,-59.78,79.77,92,100,5.88
43,43,Naze,JP,2020-07-02 19:37:05,28.37,129.48,77.00,94,100,6.93

In [20]:
preferred_cities_df.count()

City_ID       142
City          142
Country       141
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [22]:
preferred_cities_df.dropna()
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2020-07-02 19:36:57,-23.12,-134.97,70.57,70,0,21.63
6,6,Sao Filipe,CV,2020-07-02 19:36:58,14.90,-24.50,75.79,80,100,7.90
8,8,La Ronge,CA,2020-07-02 19:36:58,55.10,-105.28,73.40,53,75,13.87
16,16,Hilo,US,2020-07-02 19:37:00,19.73,-155.09,78.80,74,75,4.70
24,24,Palu,ID,2020-07-02 19:37:01,-0.89,119.87,74.89,78,100,3.22

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp    Lat     Lng Hotel Name
1        Rikitea      PF     70.57 -23.12 -134.97
6     Sao Filipe      CV     75.79  14.90  -24.50
8       La Ronge      CA     73.40  55.10 -105.28
16          Hilo      US     78.80  19.73 -155.09
24          Palu      ID     74.89  -0.89  119.87
27     Matamoros      MX     78.80  25.53 -103.25
35  Puerto Ayora      EC     78.80  -0.74  -90.35
38        Avarua      CK     77.00 -21.21 -159.78
42      Mabaruma      GY     79.77   8.20  -59.78
43          Naze      JP     77.00  28.37  129.48

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # get lat, lng drom df
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except :
        print("Hotel not found")

Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found
Hotel not found

In [30]:
hotel_df.dropna()
hotel_df.head()

          City Country  Max Temp    Lat     Lng             Hotel Name
1      Rikitea      PF     70.57 -23.12 -134.97         Pension Maro'i
6   Sao Filipe      CV     75.79  14.90  -24.50            Tortuga B&B
8     La Ronge      CA     73.40  55.10 -105.28  Northland Motor Hotel
16        Hilo      US     78.80  19.73 -155.09    Hilo Hawaiian Hotel
24        Palu      ID     74.89  -0.89  119.87     Hotel Santika Palu

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))