# Mod 6 Challenge

### Create a Travel Itinerary with a Corresponding Map

In [2]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,15,lata,PT,61.00,40.16,-8.33,clear sky,Casa Maquia
1,18,whitehorse,CA,68.00,60.72,-135.05,few clouds,Westmark Hotel
2,24,yellowknife,CA,64.99,62.46,-114.35,broken clouds,The Explorer Hotel
3,31,ribeira grande,PT,67.42,38.52,-28.70,clear sky,Quinta da Meia Eira
4,33,nikolskoye,RU,60.80,59.70,30.79,scattered clouds,Tourist House - Sablino

In [5]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

locations = vacation_df[["Lat", "Lng"]]

In [6]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
vacation_start = vacation_df.loc[vacation_df["City"]=="ambilobe"]
vacation_end = vacation_df.loc[vacation_df["City"]=="antalaha"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="antsohihy"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="marovoay"]

In [10]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(-13.2, 49.05)
(-14.9, 50.28)
(-14.88, 47.99)
(-16.1, 46.63)

In [13]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints =[stop1,stop2],
    travel_mode="DRIVING"
)

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# create a marker for the layers
itenerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [15]:
itenerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
24,139,ambilobe,MG,65.19,-13.20,49.05,scattered clouds,Hôtel & Restaurant DIANA Ambilobe
5,37,antalaha,MG,67.73,-14.90,50.28,scattered clouds,Hotel Vitasoa
83,417,antsohihy,MG,69.64,-14.88,47.99,scattered clouds,Hotel de Ville
10,55,marovoay,MG,66.67,-16.10,46.63,broken clouds,NaN

In [16]:
itenerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Current Description,Hotel Name
0,139,ambilobe,MG,65.19,-13.20,49.05,scattered clouds,Hôtel & Restaurant DIANA Ambilobe
1,37,antalaha,MG,67.73,-14.90,50.28,scattered clouds,Hotel Vitasoa
2,417,antsohihy,MG,69.64,-14.88,47.99,scattered clouds,Hotel de Ville
3,55,marovoay,MG,66.67,-16.10,46.63,broken clouds,NaN

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
"""

hotel_info = [info_box_template.format(**row) for index, row in i.iterrows()]

locations = itenerary_df[["Lat", "Lng"]]

In [21]:
fig.add_layer(vacation_itinerary)
fig
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))